$navItemHoverBackgroundColor: #a0153e;

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  .headerTop {
    display: flex;
    justify-content: space-between;
    .nav {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 0.7rem;
      align-items: center;
      .item {
        padding: 0.5rem 1rem;
        background: transparent;
        transition: background 0.3s;
        border-radius: 14px;
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        &:hover {
          background: $navItemHoverBackgroundColor;
        }
      }
    }
  }
  .headerBottom {
    text-align: center;
    margin: 2.5rem auto 0.5rem auto;
  }
}
