.header {
  z-index: 12;
  position: fixed;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: #1d1d1d;
  .headerTop {
    display: grid;
    grid-template-columns: auto 1fr;
    .nav {
      position: relative;
      display: flex;
      gap: 0.3rem;
      margin-left: auto;
      align-items: center;
    }
  }
  .headerBottom {
    text-align: center;
    margin: 2.5rem auto 0.5rem auto;
  }
}

@media (max-width: 1023px) {
  .header {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .header {
    width: 90%;
  }
}

@media (min-width: 1250px) {
  .header {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .header {
    width: 70%;
  }
}

@media (min-width: 1600px) {
  .header {
    width: 60%;
  }
}
