@use "../../styles/variables.scss" as *;

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  .headerTop {
    display: grid;
    grid-template-columns: auto 1fr;
    .nav {
      position: relative;
      display: flex;
      gap: 0.3rem;
      margin-left: auto;
      align-items: center;
    }
  }
  .headerBottom {
    text-align: center;
    margin: 2.5rem auto 0.5rem auto;
  }
}

// @media (min-width: 768px) {
//   .header {
//     padding: 1rem 2rem;
//   }
// }

// @media (min-width: 1024px) {
//   .header {
//     padding: 1rem 3rem;
//   }
// }

// @media (min-width: 1200px) {
//   .header {
//     padding: 1rem 8rem;
//   }
// }

// @media (min-width: 1400px) {
//   .header {
//     padding: 1rem 11rem;
//   }
// }
