$navItemHoverBackgroundColor: #a0153e;
$navBackgroundColor: #36343a;

.stickyHeader {
  z-index: 13;
  position: fixed;
  top: 0;
  width: 100%;
  background: #1d1d1d;
  display: grid;
  grid-template-rows: auto auto;
  .stickyHeaderTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .nav {
      flex-shrink: 0;
      position: relative;
      display: flex;
      gap: 0.7rem;
      align-items: center;
      background: $navBackgroundColor;
      border-radius: 29px;
      height: fit-content;
      padding: 0.5rem;
      .item {
        padding: 0.5rem 1rem;
        background: transparent;
        transition: background 0.3s;
        border-radius: 14px;
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        &:hover {
          background: $navItemHoverBackgroundColor;
        }
      }
      .favourites {
        position: relative;
        .counter {
          position: absolute;
          bottom: -9px;
          right: 0;
          font-size: 1rem;
          background: rgb(255, 32, 78);
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .stickyHeader {
    width: 90%;
  }
}

@media (min-width: 1250px) {
  .stickyHeader {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .stickyHeader {
    width: 70%;
  }
}

@media (min-width: 1600px) {
  .stickyHeader {
    width: 60%;
  }
}
