.stickyHeader {
  z-index: 13;
  position: fixed;
  top: 0;
  width: 100%;
  background: #1d1d1d;
  display: flex;
  gap: 1rem;
  align-items: center;
  .menuIcon {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .stickyHeader {
    width: 90%;
  }
}

@media (min-width: 1250px) {
  .stickyHeader {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .stickyHeader {
    width: 70%;
  }
}

@media (min-width: 1600px) {
  .stickyHeader {
    width: 60%;
  }
}
