@use "../../styles/variables.scss";

.rotateAnimation {
  transform: rotate(180deg);
}

.categoriesContainer {
  .button {
    font-family: "Neucha", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
    cursor: pointer;
    background: transparent;
    border-radius: 24px;
    border: none;
    padding: 0.4rem 1rem;
    color: #fff;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    .icon {
      transition: transform 0.3s;
      font-size: 1.2rem;
    }
    &.active {
      background: $secondaryColorDark;
      &:hover {
        background: $secondaryColorDark;
      }
    }
    &:hover {
      background: $secondaryColorDark;
      color: #fff !important;
    }
  }
  z-index: 4;
  position: relative;
  .categoriesWrapper {
    padding: 0.5rem;
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
    list-style: none;
    position: absolute;
    top: 33px;
    left: 0;
    background: #36343a;
    .navItem {
      .button {
        text-align: left;
      }
    }
  }
}
