.uploadSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  .link {
    background: #ff204e;
    border-radius: 5px;
    padding: 0.2rem;
    transition: background 0.3s ease;
    &:hover {
      background: #a0153e;
    }
  }
  .doneButton {
    margin-top: 1rem;
  }
}
