.uploadSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  .imageContainer {
    position: relative;
    width: 200px;
    .image {
      border-radius: 5px;
      position: relative !important;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .link {
    background: #ff204e;
    border-radius: 5px;
    padding: 0.2rem;
    transition: background 0.3s ease;
    &:hover {
      background: #a0153e;
    }
  }
  .doneButton {
    margin-top: 1rem;
  }
}
