.emptyFavourites {
  text-align: center;
  margin: 1rem auto;
}

.feedContainer {
  column-count: 1;
  column-gap: 1rem;
}

@media (min-width: 500px) {
  .feedContainer {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .feedContainer {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .feedContainer {
    column-count: 4;
  }
}
