.providersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.2rem;
  gap: 0.5rem;
  width: 100%;
  .loginWithGoogleButton {
    background: #1a49ca;
    justify-content: center;
    padding: 0.7rem 0;
    &:hover {
      background: #072b8d;
    }
  }
  .loginWithFacebookButton {
    background: #011857;
    &:hover {
      background: #2e4fa8;
    }
  }
}
