.forgotPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  .title {
    margin: 1rem 0;
  }
  .submitButton {
    margin-top: 1rem;
  }
  .formSuccess {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
