.signupFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 300px;
  margin: 0 2rem;
  .signupFormDescription {
    text-align: center;
  }
  .signupButton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
  }
}
