.trendingSearchesTicker {
  margin: 1rem auto;
  .item {
    border-radius: 24px;
    background: #36343a;
    white-space: nowrap;
    margin-right: 0.5rem;
    .placeholder {
      opacity: 0;
    }
  }
}
