.signupFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .errorMessage {
    color: rgb(238, 73, 73);
    font-size: 1rem;
  }
  .signupWithGoogleButton {
    background: #1a49ca;
    &:hover {
      background: #072b8d;
    }
  }
  .signupWithFacebookButton {
    background: #011857;
    &:hover {
      background: #2e4fa8;
    }
  }
}
