.overlay {
  z-index: 4;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .overlay_element {
    background: #feba00;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    margin-right: auto;
    opacity: 0.9;
    .icon {
      cursor: pointer;
      color: #5c4300;
      font-size: 1.5rem;
      :hover {
        color: #000;
      }
    }
  }
}
