.collectionMenuContainer {
  z-index: 11;
  position: relative;
  margin-left: auto;
  .icon {
    position: relative;
    z-index: 10;
    font-size: 2.1rem;
    color: #fff;
    background: #1d1d1d;
    border-radius: 12px;
    padding: 0.5rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: #ff204e;
    }
  }
  .menu {
    z-index: 9;
    position: absolute;
    right: 0;
    top: 39px;
    background: #1d1d1d;
    list-style: none;
    padding: 1rem;
    line-height: 2rem;
    border-radius: 14px;
    text-align: right;
    transform-origin: top right;
    .item {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      transition: color 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        color: #ff204e;
      }
    }
  }
}
