$buttonLight: #ff204e;
$buttonDark: #a0153e;
$buttonDisabled: #8d8d8d;
$buttonActive: #ff204e;

.button {
  font-family: "Neucha", serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  background: transparent;
  border-radius: 24px;
  border: none;
  padding: 0.4rem 1rem;
  color: #fff;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  &:disabled {
    cursor: not-allowed;
    background: $buttonDisabled;
    &:hover {
      background: $buttonDisabled;
    }
  }
  &.active {
    background: $buttonActive;
    &:hover {
      background: $buttonDark;
    }
  }
  //Button hover for default style
  &:hover {
    background: $buttonDark;
    color: #fff !important;
  }
  .icon {
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .text {
    font-size: 1.1rem;
    color: #fff;
  }
}

.light {
  background: $buttonLight;
  &:hover {
    background: $buttonDark;
  }
}

.dark {
  background: $buttonDark;
  &:hover {
    background: $buttonLight;
  }
}
