@use "../../styles/variables.scss" as *;

.button {
  font-family: "Neucha", serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  background: transparent;
  border-radius: 24px;
  border: none;
  padding: 0.4rem 1rem;
  color: #fff;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  &:disabled {
    cursor: not-allowed;
    background: $secondaryColorLight;
  }
  &.active {
    background: $secondaryColorLight;
    &:hover {
      background: $secondaryColorDark;
    }
  }
  &:hover {
    background: $secondaryColorDark;
    color: #fff !important;
  }
  .icon {
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .text {
    font-size: 1.1rem;
    color: #fff;
  }
}
