.light {
  background: #36343a !important;
}

.dark {
  background: #1d1d1d !important;
}

.white {
  background: #fff !important;
}

.input {
  padding: 0.5rem;
  border-radius: 24px;
  outline: none;
  border: 0;
}
