@use "@/styles/variables.scss" as *;

.inputContainer {
  --background-light: #36343a;
  --background-dark: #1d1d1d;
  --background-white: #fff;

  --text-dark: #1d1d1d;
  --text-white: #ffffff;
  position: relative;
  .input {
    padding: 0.5rem 0.5rem 0.5rem 30px;
    border-radius: 24px;
    outline: none;
    border: 0;
    border: 2px solid transparent;
    min-width: 250px;
    font-size: 1rem;
    transition: border 0.3s;
    &:focus {
      border: 2px solid $secondaryColorLight;
    }
  }
  .inputIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    font-size: 1.3rem;
    & svg {
      //Fix extra space inside div
      display: block;
    }
  }
  .showPasswordIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    font-size: 1.5rem;
    cursor: pointer;
    & svg {
      //Fix extra space inside div
      display: block;
    }
  }
}

/* Theme Variants */
.input.light {
  background: var(--background-light);
  color: var(--text-white);
}

.input.dark {
  background: var(--background-dark);
  color: var(--text-white);
}

.input.white {
  background: var(--background-white);
  color: var(--text-dark);
}

//Icon color
.white {
  color: var(--text-white); /* White theme → Dark text */
}

.dark {
  color: var(--text-dark); /* Dark theme → White text */
}
