.uploadPageLayout {
  height: 100vh;
  background: #fff;
  .wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    padding: 1rem;
    margin: 0 auto;
    .container {
      background: #1d1d1d;
      width: 100%;
      height: 100%;
      padding: 1rem;
      border-radius: 14px;
    }
  }
}

@media (min-width: 1024px) {
  .uploadPageLayout {
    .wrapper {
      width: 90%;
    }
  }
}

@media (min-width: 1250px) {
  .uploadPageLayout {
    .wrapper {
      width: 80%;
    }
  }
}

@media (min-width: 1400px) {
  .uploadPageLayout {
    .wrapper {
      width: 70%;
    }
  }
}

@media (min-width: 1600px) {
  .uploadPageLayout {
    .wrapper {
      width: 60%;
    }
  }
}
