.uploadPageLayout {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  .container {
    background: #1d1d1d;
    width: 90%;
    padding: 1rem;
    border-radius: 14px;
  }
}
