.overlay {
  z-index: 4;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  .overlayIconsContainer {
    display: flex;
    justify-content: space-between;
    .addToFavouritesButton {
      background: #ff204db6;
      border-radius: 10px;
      padding: 0.5rem;
      display: flex;
      gap: 0.5rem;
      .icon {
        cursor: pointer;
        color: #000000de;
        font-size: 1.5rem;
        :hover {
          color: #700c2a;
        }
      }
    }
    .shareButton {
      position: relative;
      background: #ff204db6;
      border-radius: 10px;
      padding: 0.5rem;
      .icon {
        cursor: pointer;
        color: #ffffff;
        font-size: 1.6rem;
        :hover {
          color: #700c2a;
        }
      }
    }
  }
  .overlay_author {
    background: #ff204db6;
    border-radius: 5px;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .avatar {
      border-radius: 5px;
    }
    .name {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
