.mediaCard {
  z-index: 3;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 5px;
  .image {
    position: relative !important;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
