.overlay {
  z-index: 4;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  .overlayIconsContainer {
    display: flex;
    justify-content: space-between;
    .shareButton {
      position: relative;
      background: #1d1d1de3;
      color: #fff;
      border-radius: 10px;
      padding: 0.5rem;
      border: 0;
      font-size: 1.5rem;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: #700c2a;
      }
      .icon {
        display: block;
      }
    }
  }
  .overlay_author {
    background: #1d1d1de3;
    border-radius: 5px;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .avatar {
      border-radius: 5px;
    }
    .name {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
