.changeAvatarContainer {
  z-index: 11;
  position: absolute;
  bottom: 40px;
  right: 0;
  border-radius: 24px;
  line-height: 2rem;
  width: fit-content;

  .title {
    margin-bottom: 2rem;
  }
  .fileInput {
    .label {
      display: none;
    }
    .input {
      display: none;
    }
  }
}
