.userPageLayout {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}

@media (max-width: 670px) {
  .userPageLayout {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }
}
