$navMenuItemHoverBackground: #ff204e;
$navMenuItemActiveBackground: #a0153e;

.navMenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;

  border-radius: 24px;
  font-size: 1.1rem;
  .avatarContainer {
    z-index: 6;
    position: relative;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;

    .avatar {
      z-index: 7;
      position: relative !important;
      width: 150px !important;
      height: 150px !important;
      border-radius: 24px;
      margin: auto;
      background: transparent;
    }
    .username {
      margin-left: 0.5rem;
      color: #ff204e;
    }
  }

  .item {
    cursor: pointer;
    border-radius: 14px;
    padding: 0.5rem;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    &:hover {
      background-color: $navMenuItemHoverBackground;
    }
  }
}

.active {
  background-color: $navMenuItemActiveBackground;
}
